body {
    background-color: #fdd29b;
}

.navigation2 {
    display: flex;
    justify-content: center;
    list-style: none;
}

.cupcake {
    width: 200px;
    height: 250px;
    border: solid white 2px;
    margin: 10px 10px 10px 0;
}

.cupcake6 {
    display: flex;
    justify-content: center;
}

.cupcake6 img {
    width: 60%;
}

.sociallogo {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
}

.sociallogo img {
    width: 30px;
}

.bas {
    display: flex;
    justify-content: space-evenly
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.stars {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

.nav {
    background-color: white;
    border: solid greenyellow 1px;
    padding: 5px 30px;
    margin: 10px 10px 10px 0;
}

.stars {
    text-align: center;
}

h1 {
    text-align: center;
}

main {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 3%;
}

.workshop {
    display: flex;
    justify-content: space-between;
    border: solid blue 1px;
    margin-bottom: 10px;
}

.premierpara {
    font-size: 120%;
    width: 40%;
}
.bloc {
    width: 1500px;
    text-align: center;
}

@media screen and (max-width: 1400px) and (min-width: 100px) {
    .bloc {
        width: 90%;
    }

    img {
        width: 90%;
    }

    .navigation {
        width: 90%;
        font-size: small;
    }


}